.text-center,
.post h1.post-title,
.post .post-time {
  text-align: center;
}

.post h1.post-title {
  font-size: 1.2rem;
  margin: 0 0 1rem;
}

.post .post-time {
  color: #aeaeae;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.75rem;
}

.post .post-content {
  margin-left: auto;
  margin-right: auto;
  width: 31rem;
}

.post .post-content p {
  text-indent: 1.5rem;
}

.post + hr.circle-divider {
  margin-left: auto;
  margin-right: auto;
  width: 23rem;
}

hr.circle-divider {
  border: none;
  border-top: 1px solid #ddd;
  color: #333;
  margin: 2.5rem auto;
  padding: 0 0.5rem;
  text-align: center;
}

hr.circle-divider:after {
  background: #fff;
  color: #666;
  content: '○';
  display: inline-block;
  font-size: 1.2rem;
  padding: 0 0.5rem;
  position: relative;
  top: -0.75em;
}
