behave==1.2.5
coverage==4.0.3
coveralls==1.1
Django==1.9.2
django-appconf==1.0.1
django-compressor==2.0
django-libsass==0.6
django-markdownx==1.4.2
docopt==0.6.2
factory-boy==2.6.1
fake-factory==0.5.3
gunicorn==19.4.5
libsass==0.10.1
Markdown==2.6.5
parse==1.6.6
parse-type==0.3.4
Pillow==3.1.1
psycopg2==2.6.1
rcssmin==1.0.6
requests==2.9.1
rjsmin==1.0.12
selenium==2.53.1
six==1.10.0
whitenoise==2.0.6
