{% load staticfiles %}

<!-- For IE 9 and below. ICO should be 32x32 pixels in size -->
<!--[if IE]><link rel="shortcut icon" href="{% static 'aiki_blog/img/favicon-32x32.png' %}"><![endif]-->

<!-- Touch Icons - iOS and Android 2.1+ -->
<link rel="apple-touch-icon-precomposed" type="image/png" sizes="180x180" href="{% static 'aiki_blog/img/favicon-180x180.png' %}">

<!-- Firefox, Chrome, Safari, IE 11+ and Opera -->
<link rel="icon" type="image/png" sizes="192x192" href="{% static 'aiki_blog/img/favicon-192x192.png' %}">
