{% extends '_layout/base.html' %}

{% load markdownx %}
{% load sass_tags %}

{% block title %}{{ post.title }} | {{ block.super }}{% endblock %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% sass_src 'css/posts.scss' %}">
{% endblock %}

{% block content %}
<div class="post">
  <h1 class="post-title">{{ post.title}}</h1>
  <div class="post-time">{{ post.published_date | date:'M j, Y, G:i' }}</div>
  <div class="post-content">{{ post.text | markdownxify }}</div>
</div>
{% endblock %}
