{% load compress %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Aikithoughts{% endblock %}</title>

    {% include '_includes/favicon.html' %}

    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700&subset=latin,vietnamese'
          rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:600&subset=latin,vietnamese' rel='stylesheet'
          type='text/css'>
    {% block css %}
      {% compress css %}
        <link rel="stylesheet" type="text/css" href="{% static 'aiki_blog/css/normalize.css' %}">
        <link rel="stylesheet" type="text/x-scss" href="{% static 'aiki_blog/css/base.scss' %}">
      {% endcompress %}
    {% endblock %}
  </head>
  <body>
    {% include '_includes/header.html' %}

    <div class="base-container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
