{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Aikithoughts{% endblock %}</title>
    <link href='//fonts.googleapis.com/css?family=Roboto+Slab:300,400,700|Open+Sans:600&subset=latin,vietnamese'
          rel='stylesheet' type='text/css'>
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}
  </head>
  <body>
    {% include '_includes/header.html' %}

    <div class="base-container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
